<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930406327064-1rv2ulof1ntjecjqjs7oq34uei3ipq3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930406327064-1rv2ulof1ntjecjqjs7oq34uei3ipq3t</string>
	<key>API_KEY</key>
	<string>AIzaSyBWeaCZ_woIB5XeYBIxKVN52jDzWqIi7dY</string>
	<key>GCM_SENDER_ID</key>
	<string>930406327064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moti.moti-client</string>
	<key>PROJECT_ID</key>
	<string>moti-87810</string>
	<key>STORAGE_BUCKET</key>
	<string>moti-87810.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930406327064:ios:5592216a4f48bc7c72f46d</string>
	<key>DATABASE_URL</key>
	<string>https://moti-87810.firebaseio.com</string>
</dict>
</plist>